@charset "utf-8";
@import url("./normalize.css");
@import url("./fonts.css");
*, *::before, *::after {
  box-sizing: border-box;
}

/* CSS Reset */

html, body, button, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul {
  list-style: none;
}

/* 본문 스타일 */

html {
  font-size: 10px;
}
body {
  font-family: 'Noto Sans Regular', sans-serif;
  font-size: 1.4rem;
  color: #263358;
  background-color: silver;
}

/* 링크 스타일 */

a {
  color: inherit;
  text-decoration: none;
}
a:link, a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  color: #f00;
}

/* 숨김 콘텐츠 */

.readable-hidden, .a11y, legend {
  /* 1번 display: none; */
  /* 2번 visibility: hidden; */
  /* 3번 position: absolute;
  left: -9999em; */
  /* 4번 */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  /* 안전장치 
  clip: rect(0, 0, 0, 0);
 font-size: 0;
  line-height: 0; */
}

/* 건너뛰기 링크 */

.a11y:focus {
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  margin: 0;
  clip: rect(auto, auto, auto, auto);
  background-color: #000;
  color: white;
  padding: 5px 10px;
  z-index: 10;
}

/* 공통 스타일 */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* 기본레이아웃 */

.container {
  /* background-image: url("images/bg_flower.png"), linear-gradient(to bottom, #aaa 0%, #eee 50%, #fff 100%);
  background-repeat: no-repeat, repeat;
  background-position: 50% 0, 0 0; */
  background: url("images/bg_flower.png") no-repeat 50% 0, linear-gradient(to bottom, #aaa 0%, #eee 50%, #fff 100%) repeat 0 0;
}
.header, .visual, .main-content, .slogan, .footer {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */

.header {
  background-color: #fff;
  position: relative;
  padding: 0 30px 30px 30px;
  border-radius: 0 0 15px 15px;
}

/* 로고 */

.logo {
  position: absolute;
  top: 47px;
  left: 65px;
}

/* 멤버 링크 */

.member {
  text-transform: uppercase;
  font-size: 0;
  text-align: right;
  /* CSS2
  position: relative;
  right: -10px; */
  /* CSS3 (IE11+) */
  transform: translateX(10px);
}
.member li {
  padding: 10px 0;
  display: inline-block;
  font-size: 1.4rem;
}
.member li:nth-child(n+2)::before {
  content: ":";
}
.member a {
  /* outline이 잘리지 않게 1px 여백를 둔 설계 */
  padding: 8px 10px;
}

/* 메인메뉴 */

.main-menu {
  background: #e27a2f linear-gradient(to bottom, #e04f2f 1%, #e27a2f 30%, #e27a2f 70%, #e04f2f 100%);
  background-color: #e27a2f;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  height: 47px;
  padding-left: 225px;
}
.main-menu>li {
  float: left;
  position: relative;
}
.main-menu>li:focus {
  outline: none;
}
.main-menu span {
  line-height: 45px;
  display: block;
  font-size: 1.6rem;
  font-family: 'Noto Sans Bold';
  color: #fff;
  padding: 0 20px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}

/* .main-menu>li:hover span, .main-menu>li:focus span {
  color: #ff0;
} */


/* 클래스 구체화하여 이슈해결 */

.main-menu>li:hover span, .main-menu>li:focus span, .sub-menu>a:focus .main-menu>span {
  color: #ff0;
}
.main-menu>li:hover span::after, .main-menu>li:focus span::after {
  content: "";
  border-top: 2px solid #000;
  display: block;
}

/* 서브메뉴 */

.sub-menu {
  position: absolute;
  top: 47px;
  white-space: nowrap;
}
.menu-act {
  display: block !important;
}
.about-html {
  display: none;
  left: 0;
}
.about-css {
  display: none;
  left: 0;
}
.web-standards {
  display: none;
  left: 0;
}
.web-accessibility {
  display: none;
  right: 0;
}
.qna {
  display: none;
  right: 0;
}
.archive {
  display: none;
  right: 0;
}
.sub-menu li, .sub-menu a {
  display: inline-block;
}
.sub-menu a {
  padding: 4px 10px 4px 0;
}
.sub-menu a::before {
  content: "\e803";
  font-family: "fontello";
  padding-right: 5px;
}
.sub-menu a:hover::before {
  content: "\e801";
  font-family: "fontello";
  padding-right: 2px;
}

/* 비주얼 */

@keyframes text-ani {
  0% {
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0);
    /* 성능 Bad
    top: 0;
    left: 0; */
  }
  100% {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 70px);
    /* 성능 Bad
    top: 70px;
    left: 400px; */
  }
}

/* @keyframes flower-ani {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
} */

@keyframes flower-ani {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.visual {
  height: 120px;
  position: relative;
}
.visual::before, .visual::after {
  animation: flower-ani 3s infinite alternate;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.visual::before {
  background: url("images/ani_flower_01.png") no-repeat 0 -15px, url("images/ani_flower_02.png") no-repeat 670px 0;
}

/* .visual::before {
  background: url("images/ani_flower_01.png") no-repeat 0 -15px, url("images/ani_flower_02.png") no-repeat 670px 0;
  animation: flower-ani 2s ease-in 5 both;
} */

.visual::after {
  background: url("images/ani_flower_03.png") no-repeat 300px -15px, url("images/ani_flower_04.png") no-repeat 800px 0;
  animation-delay: 1s;
}
.visual-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  /* animation-name: text-ani;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out; */
  animation: text-ani 2s forwards ease-in-out;
  /* 정지버튼 animation-play-state: paused; */
  /* width:500px; */
  /* display: inline-block; */
  /* float: left; */
}
.box {
  background-color: mediumslateblue;
  border: 2px solid #000;
  width: 100px;
  height: 100px;
  /* transition-property: border-radius, background-color;
  transition-duration: 3s, .5s;
  transition-delay: 0s, 1s;
  transition-timing-function: ease-in-out; */
  /* transition-timing-function: cubic-bezier(.03, -0.69, .6, .96); */
  transition: all 2s 0s ease-in-out;
}

/* .box:hover {
  border-radius: 50%;
  background-color: navy;
} */

.box-act {
  transform: translateX(800px);
}

/* 메인 콘텐츠 */

.main-content {
  background-color: white;
  padding: 30px 15px;
  min-height: 400px;
  border-radius: 15px 15px 0 0;
}
.group {
  margin: 0 15px;
}
.group1 {
  width: 250px;
  float: left;
}
.group2 {
  width: 380px;
  float: left;
}
.group3 {
  width: 190px;
  float: left;
}

/* 로그인 */

.login {
  background: orange radial-gradient(circle at right top, orange, orangered);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 0 0 hsla(0, 0%, 50%, 1);
}
.login-heading {
  color: yellow;
  font-family: 'Noto Sans Bold';
  font-size: 1.5rem;
  text-indent: 10px;
}
.login-form {
  background-color: white;
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}
.login-form fieldset {
  border-bottom: 1px solid #aaa;
  position: relative;
  padding-bottom: 5px;
}
.user-email, .user-pw {
  padding-bottom: 5px;
}
.login-form label {
  width: 4em;
  display: inline-block;
}
.login-form input {
  width: 95px;
  height: 24px;
  padding-left: 5px;
  border: 1px solid #aaa;
}
.btn-login {
  position: absolute;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
  padding: 0;
  border: 0;
  background: #f00;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
.join {
  background-color: white;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.join li::before {
  content: "\e804";
  font-family: "fontello";
  color: orangered;
}
.join a {
  /* 클릭영역 넓혀줘 사용성 높여주기 */
  padding: 8px 0;
}

/* 유효성검사 배너 링크 */

.validation {
  margin-top: 20px;
}
.validation-list a {
  display: block;
  border: 1px solid #aaa;
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 20px;
  padding-left: 45px;
  /* 먼저선언한게 위에 레이어로 생김 */
  background: url("images/validation_icon.png") no-repeat 15px 50%, linear-gradient(to bottom, #ccc, #eee);
}

/* .validation-list {
    padding: 10px 0;
  }
  .validation-list li {
    background: #ccc linear-gradient(to bottom, #ccc, #eee), url("images/validation_icon.png");
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 30px;
    border: 1px solid #aaa;
  }
  .validation-list a {
    background-color: white;
    width: 100%;
    padding: 5px 30px 5px 0;
  } */


/* 웹관련 용어 */

.term {
  background: #eee linear-gradient(to bottom, #eee, #ccc);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 20px;
}
.term-heading {
  font-family: 'Noto Sans Bold';
  font-size: 1.5rem;
}
.term-list {
  margin-top: 10px;
  overflow: hidden;
}
.term-list-heading, .term-list-brief {
  width: 145px;
  float: right;
}
.term-list-heading {
  color: #296897;
  font-weight: bold;
  /* line-height: 1.4rem; */
  margin-top: -5px;
}
.term-list-brief {
  margin-top: 5px;
  line-height: 1.5;
  word-break: break-all;
}
.term-list-thumbnail {
  background-color: pink;
  float: left;
}

/* 
  .term-list dt:nth-of-type(2n+2) {
    background-color: yellow;
    float: left;
  }
  .term-list dd:nth-of-type(4n+4), .term-list dd:nth-of-type(4n+2):nth-of-type(odd) {
    background-color: lime;
    float: left;
  } */


/* .term-heading {
  font-size: 1.6rem;
  font-family: 'Noto Sans Bold';
}
.term-list {
  margin-top: 10px;
}
.term-list-heading {
  color: #4c6cbb;
  font-family: 'Noto Sans Bold';
  width: 145px;
  float: right;
}
.term-list-thumbnail {
  float: left;
  width: 60px;
  background-color: orange;
  margin-right: 10px;

}
.term-list-brief {
  background-color: lime;
  text-align: justify;
  margin-top: 5px;
} */


/* 검색 영역*/

.search {
  background: #eee linear-gradient(to bottom, #ccc, #eee);
  border: 1px solid #aaa;
  border-bottom: 0;
  padding: 15px 25px 10px;
  border-radius: 15px 15px 0 0;
}
.search label::before {
  content: "\e800";
  font-family: "fontello";
  margin-right: 3px;
}
.search-form input[type="search"] {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 2px 2px 2px 5px;
  width: calc(100% - 122px);
}
.search-form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: pink;
}
.search-form input::-moz-placeholder {
  /* Firefox 19+ */
  color: pink;
}
.search-form input:-ms-input-placeholder {
  /* IE 10+ */
  color: pink;
}
.search-form input:-moz-placeholder {
  /* Firefox 18- */
  color: pink;
}
.btn-search {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0 10px;
  background: #333 linear-gradient(to bottom, #333, #999);
  color: white;
}

/* .search {
  background-color: gray;
  padding: 20px 25px 10px 25px;
  border: 1px solid #aaa;
  border-radius: 20px 20px 0 0;
  border-bottom-width: 0;
  background: #eee linear-gradient(to bottom, #ccc, #eee);
  background-color: yellow;
}
.search label::before {
  content: "\e800";
  font-family: "fontello";
  padding-right: 5px;
}
.search input {
  padding: 3px 5px;
  border-radius: 5px;
}
.btn-search {
  background: #333 linear-gradient(to bottom, #333, #999);
  color: white;
  padding: 0 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
} */


/* 공지사항, 자료실 */

.board {
  margin-top: 20px;
  position: relative;
}
.notice {}
.pds {}
.notice-heading, .pds-heading {
  position: absolute;
  top: 0;
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  color: #666;
  padding: 5px 15px;
  cursor: pointer;
}
.board-act .notice-heading, .board-act .pds-heading {
  background: white;
  color: orangered;
  border-color: orangered;
  border-bottom-color: white;
}
.notice-heading {
  left: 0;
}
.pds-heading {
  left: 84px;
}
.notice-list, .pds-list {
  padding: 40px 0 0 18px;
  list-style: square;
}
.notice-list li, .pds-list li {}
.notice-list a, .pds-list a {
  display: inline-block;
  width: 285px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice-list time, .pds-list time {
  float: right;
}
.notice-more, .pds-more {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}
.notice-more::before, .pds-more::before {
  content: "\e802";
  font-family: "fontello";
  color: hsla(120, 100%, 30%, 1);
  margin-right: 3px;
}

/* 10점 */

.notice-list, .pds-list, .notice-more, .pds-more {
  display: none;
}

/* 11점 */

.board-act ul, .board-act>a {
  display: block;
}

/* .board {
  position: relative;
  margin-top: 20px;
}
.board h2 {
  position: absolute;
  top: 0;
  background: #eee linear-gradient(to bottom, #eee, #ccc);
  padding: 5px 15px;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}
.board-act h2 {
  background: white;
  color: red;
  border-color: red;
  border-bottom: 0;
}
.pds-heading {
  left: 84px;
}
.board ul {
  display: none;
  background-color: yellow;
  padding-top: 50px;
}
.board-act ul, .board-act>a {
  display: block;
}
.board li {
  background-color: aqua;
}
.board li a {
  background-color: salmon;
  display: inline-block;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 0;
}
.board li time {
  background-color: pink;
  padding: 2px 0;
  float: right;
}
.notice-more, .pds-more {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.notice-more::before, .pds-more::before {
  content: "\e802";
  font-family: "fontello";
  color: green;
  margin-right: 3px;
} */


/* 슬로건 */

.slogan {
  background-color: orange;
  padding: 15px 0;
}

/* 푸터 */

.footer-bg {
  background-color: purple;
}
.footer {
  background-color: skyblue;
  padding: 15px 0;
}

/*
.icon-search:before { content: '\e800'; } 
.icon-ok:before { content: '\e801'; } 
.icon-plus:before { content: '\e802'; } 
.icon-minus:before { content: '\e803'; } 
.icon-right-open:before { content: '\e804'; } 
.icon-circle:before { content: '\f111'; } */