@charset "utf-8";
@import url("./normalize.css");
@import url("./fonts.css");
*, *::before, *::after {
  box-sizing: border-box;
}

/* CSS Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul {
  list-style: none;
}

/* 본문 스타일 */

html {
  font-size: 10px;
}
body {
  font-family: 'Noto Sans Regular', sans-serif;
  font-size: 1.4rem;
  color: #263358;
  background-color: white;
}

/* 링크 스타일 */

a {
  color: inherit;
  text-decoration: none;
}
a:link, a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  color: #f00;
}

/* 숨김 콘텐츠 */

.readable-hidden, .a11y {
  /* 1번 display: none; */
  /* 2번 visibility: hidden; */
  /* 3번 position: absolute;
  left: -9999em; */
  /* 4번 */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/* 건너뛰기 링크 */

.a11y:focus {
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  margin: 0;
  clip: rect(auto, auto, auto, auto);
  background-color: #000;
  color: white;
  padding: 5px 10px;
  z-index: 10;
}

/* 공통 스타일 */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* 기본레이아웃 */

.container {
  background-color: silver;
}
.header, .visual, .main-content, .slogan, .footer {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */

.header {
  background-color: #fff;
  position: relative;
  padding: 0 30px 30px 30px;
  border-radius: 0 0 15px 15px;
}

/* 로고 */

.logo {
  position: absolute;
  top: 47px;
  left: 65px;
}

/* 멤버 링크 */

.member {
  text-transform: uppercase;
  font-size: 0;
  text-align: right;
  /* position: relative;
  right: -10px; */
  transform: translateX(10px);
}
.member li {
  padding: 10px 0;
  display: inline-block;
  font-size: 1.4rem;
}
.member li:nth-child(n+2)::before {
  content: ":";
}
.member a {
  padding: 8px 10px;
}

/* .member a:focus {
  outline: 2px dotted red;
  outline-offset: -5px;
} */


/* 여기 필기해야해 */


/* .navigation {
  clear: both;
} */


/* 메인메뉴 */

.main-menu {
  background: #e27a2f linear-gradient(to bottom, #e04f2f 1%, #e27a2f 30%, #e27a2f 70%, #e04f2f 100%);
  background-color: #e27a2f;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  height: 47px;
  padding-left: 225px;
}
.main-menu>li {
  float: left;
  line-height: 45px;
}
.main-menu span {
  display: block;
  font-size: 1.6rem;
  font-family: 'Noto Sans Bold';
  color: #fff;
  padding: 0 20px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000;
}
.main-menu span:hover, .main-menu>li:focus span {
  color: #ff0;
}
.sub-menu {
  background-color: yellow;
  position: absolute;
  display: none;
}

/* 비주얼 */

.visual {
  background-color: pink;
  height: 120px;
}

/* 메인 콘텐츠 */

.main-content {
  background-color: blue;
  padding: 30px 15px;
  min-height: 400px;
}
.group {
  margin: 0 15px;
}
.group1 {
  background-color: maroon;
  width: 250px;
  float: left;
}
.group2 {
  background-color: teal;
  width: 380px;
  float: left;
}
.group3 {
  background-color: tomato;
  width: 190px;
  float: left;
}

/* 슬로건 */

.slogan {
  background-color: orange;
  padding: 15px 0;
}

/* 푸터 */

.footer-bg {
  background-color: purple;
}
.footer {
  background-color: skyblue;
  padding: 15px 0;
}